@import "tailwindcss";


:root {
  font-family: var(--font-roboto), system-ui, -apple-system, Segoe UI, Arial, sans-serif;
}

body {
  font-family: var(--font-roboto), system-ui, -apple-system, Segoe UI, Arial, sans-serif;
}

.hero-radiall-bg {
  background:
  radial-gradient(13.98% 18.61% at 86.74% 19.63%, rgba(110, 178, 188, 0.4), rgba(217, 217, 217, 0.4)),
    radial-gradient(12% 14.08% at 9.42% 89.81%, #D1E5FF, #F8FAFC);
}

.hero-radial {
  background:
    radial-gradient(12% 14.08% at 9.42% 89.81%, #D1E5FF 0%, #F8FAFC 100%),
    radial-gradient(13.98% 18.61% at 86.74% 19.63%, rgba(110, 178, 188, 0.4) 0%, rgba(217, 217, 217, 0.4) 100%);
}

.hero-radial-background {
  background:
    radial-gradient(circle at 10% 90%, #D1E5FF 0%, transparent 60%),
    radial-gradient(circle at 85% 20%, rgba(110,178,188,0.4) 0%, transparent 60%),
    linear-gradient(180deg, #F8FAFC 0%, #FFFFFF 100%);
}


.custom-shadow {
  box-shadow: 0px 7px 11.6px 0px #6EB2BC40;
}

.howitworks-gradient {
  background: linear-gradient(180deg, #F8FAFC 0%, #FFFFFF 100%);
}

